@using Janson.Models.Entity
@model List<BlogTBL>


<aside class="single_sidebar_widget popular_post_widget">


    <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>

    @foreach (var x in Model)
    {
        <div class="media post_item">
            <img src="@x.Photo" alt="post"  style="width: 57px; height: auto;">
            <div class="media-body">
                <a href="/BlogDetails/Index/@x.ID">
                    <h3 style="color: #2d2d2d;">@x.Baslik</h3>
                </a>
                <p>@x.Tarih</p>
            </div>
        </div>
    }


</aside>
