@using Janson.Models.Entity
@model List<HobilerTBL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hobiler</h2>
<br />

<table class="table table-bordered form-group" style="background-color: rgb(36, 113, 163); border-radius: 10px; font-family: Arial; font-size: 15px;">
    <tr>


        <th>Baslik</th>
        <th>İcerik</th>



        <th>Güncelle</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Baslik</td>
            <td>@x.İcerik</td>




            <td><a href="/AdminHobies/UpdateHobiesPage/@x.ID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="/AdminHobies/DeleteHobiesPage/@x.ID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>

        </tr>

    }
</table>



<a href="/AdminHobies/InsertHobiesPage/" class="btn  btn-outline-info">Ekle</a>
