
<section class="about-area section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <h2>About</h2>
                    </div>
                    <p>For more than 5 years now, design has been the central piece of my world. On this fast and mind-blowing journey, I have moved over the years from being a visual designer to a full-time UX/UI thinker and designer.</p>

                    <p>At the moment, this journey has brought me to Cloud Academy in Mendrisio, Switzerland where I am a full-time Product Designer. In this position, as with freelance, I am working remotely and I have been for approximately two years.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/jnstema/assets/img/gallery/about1.png" alt="">
                </div>
            </div>
        </div>
       @Html.Action("AboutUsPartialprt", "Main")
    </div>
</section>