@model Janson.Models.Entity.MessageTbl
<footer>
    <div class="footer-wrappr">
        <div class="footer-top">
            <!-- Want To work -->
            <section class="wantToWork-area ">
                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-7 col-lg-9 col-md-8">
                                <div class="wantToWork-caption wantToWork-caption2">
                                    <h2>Do you want to know more about me?</h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4">
                                <a href="#" class="btn white-btn f-right sm-left">Download CV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- contact-form -->
                        <div class="form-wrapper">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="small-tittle mb-30">
                                        <h4>Contact Me</h4>
                                    </div>
                                </div>
                            </div>
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box user-icon mb-25">
                                            @Html.TextBoxFor(x => x.Name, new { @type = "text", PlaceHolder = "Your name", requried = "" })
                                         @*   <input type="text" name="name" placeholder="Your name">*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box email-icon mb-25">
                                            @Html.TextBoxFor(x => x.Mail, new { @type = "email", PlaceHolder = "Your Mail", requried = "" })
                                        @*    <input type="text" name="email" placeholder="Email">*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box email-icon mb-25">
                                            @Html.TextBoxFor(x => x.Baslik, new { @type = "text",  PlaceHolder = "Subject", requried = "" })
                                         @*   <input type="text" name="email" placeholder="Subject">*@
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-box message-icon mb-25">
                                            @Html.TextAreaFor(x => x.Message, new {  PlaceHolder = "Your name", requried = "" })
                                        @*    <textarea name="message" id="message" placeholder="Message"></textarea>*@
                                        </div>
                                        <div class="submit-info">
                                            <button class="submit-btn2" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4">
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="footer-copy-right f-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    bhmberkan &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://instagram.com/bhmberkan" target="_blank">bhmberkan</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

