@using Janson.Models.Entity
@model List<ExperienceTBL>

<div class="may-about section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle2 mb-30">
                    <h2>Experience</h2>
                </div>
            </div>
            @foreach (var x in Model)
            {
                <div class="col-xl-12">
                    <div class="single-about">
                        <div class="tittle-experience">
                            <h3>@x.baslik</h3>
                            <p>@x.Aralık</p>
                        </div>
                        <div class="experience-link">
                            <a href="@x.LinkYolu" target="_blank">@x.Link<i class="fas fa-external-link-alt" ></i></a>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>